* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(120deg, #3498db, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

label {
    font-size: 32px;
    font-weight: 700;
}

div {
    display: inline;
}

input[type="radio"] {
    position: relative;
    width: 250px;
    height: 65px;
    margin: 20px;
    outline: none;
    background: #222;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
        5px 5px 10px rgba(0, 0, 0, 1),
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),
        inset 2px 2px 5px rgba(0, 0, 0, 1),
        0 0 0 2px #1f1f1f;
    transition: .5s;
}

input[type="radio"]:checked {
    background: #20b7ff;
}

input[type="radio"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 65px;
    background: linear-gradient(to top, #000, #555);
    border-radius: 50px;
    box-shadow: 0 0 0 2px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
}

input[type="radio"]:checked:before {
    left: 100px;
}

input[type="radio"]:after {
    content: '';
    position: absolute;
    left: 125px;
    top: calc(50% - 3.5px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #555;
    transition: 0.5s;
}

input[type="radio"]:checked:after {
    left: calc(125px + 100px);
    background: #63cdff;
    box-shadow: 0 0 5px #63cdff,
        0 0 15px #63cdff,
        0 0 30px #63cdff;
}