.nav-mine .mine {
    background-size: 100%;
}

.insert a {
    display: inline;
    border: none;
    outline: none;
    text-align: center;
    line-height: .687rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 90%;
    height: .687rem;
    margin: 0 auto;
    background-color: #333333;
    opacity: 0.2;
    border-radius: 2%;
    align-self: center;
    transition: .5s;
    font-size: .11rem;
}

.insert a::before {
    content: "\f36";
}

.insert a:hover {
    opacity: .8;
}

.insert:hover {
    margin-top: .103rem;
    margin-bottom: .034rem;
}

.right {
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-self: center; */
}


.insert {
    margin-top: .137rem;
    display: flex;
    justify-self: center;
    height: .687rem;
    transition: .5s;
    /* align-self: center; */
}

.conten {
    flex: 8.5;
    position: relative;
}

.conten ul {
    position: absolute;
    top: .344rem;
    left: 1.454rem;
}

li {
    font-size: .11rem;
    width: 5.704rem;
    height: .956rem;
    list-style: none;
}

li p {
    line-height: .206rem;
    display: inline-block;
    text-indent: 2em;
    width: 1.395rem;
    height: .206rem;
    background-color: #fff;
}

.content {
    margin-top: .014rem;
    font-size: .137rem;
    width: 5.677rem;
    height: .442rem;
}

.click {
    display: none;
}

#click {
    /* position: absolute;
    top: 200px;
    left: 200px; */
    margin-top: .137rem;
}

.iconText1 {
    color: red;
}

/* detail-users页面的样式 */
.detai p {
    top: .206rem;
    left: .206rem;
    font-size: 36px;
    font-weight: 700;
}

.type {
    position: absolute;
    left: 70px;
    top: 60px;
    font-size: 20px;
    display: inline;
}

.type div {
    display: inline-block;
}

.sign {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 170px;
    top: 450px;
    font-size: 20px;
    display: inline;
}

.detai .form input[type="text"] {
    width: 1.031rem;
    height: 30px;
    text-indent: 2em;
    border-radius: 2%;
    background: #fff;
    opacity: 0.4;
}

.detai .form input:hover {
    opacity: 1;
}

.detai #name {
    position: absolute;
    top: .687rem;
    left: 100px;
}

.detai .name {
    position: absolute;
    top: 169px;
    left: 100px;
}

.detai #topic {
    position: absolute;
    top: .687rem;
    left: calc(100px + 250px);
}

.detai .topic {
    position: absolute;
    top: 170px;
    left: calc(100px + 250px);
}

.detai #class {
    position: absolute;
    top: .687rem;
    left: calc(350px + 250px);
}

.detai .class {
    position: absolute;
    top: .893rem;
    left: calc(350px + 250px);
    ;
}

.detai #time {
    position: absolute;
    top: .687rem;
    left: calc(600px + 250px);
}

.detai .time {
    position: absolute;
    top: .893rem;
    left: calc(600px + 250px);
}

.detai #content {
    position: absolute;
    top: 1.031rem;
    left: .515rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.detai #Img {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 60px;
    right: 100px;
}

.detai #file1 {
    position: absolute;
    top: 390px;
    right: 150px;
}

.detai #file2 {
    position: absolute;
    top: 600px;
    left: 400px;
}

.detai .cancel {
    position: absolute;
    top: 380px;
    right: 80px;
}

.detai #btnUpload {
    position: absolute;
    top: 596px;
    left: 850px;
}

.detai #btnDraft {
    position: absolute;
    top: 596px;
    left: 660px;
}

.detai .form .error {
    opacity: 1;
    border: 2px solid #e74c3c;
}

.detai .form .error-message {
    font-size: 14px;
    border-color: #e74c3c;
}

.detai .true {
    outline: none;
}

.detai {
    font-size: 20px;
}