* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    flex-direction: column;
}

button {
    border-radius: 20px;
    border: 1px solid #2bc3ff;
    background: #2b4eff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

.img {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: none;
    margin: .068rem auto 0;
    /* margin-bottom: 10px; */
    background: url("../image/1.jpg") no-repeat center center;
}

.user {
    font-size: .172rem;
    width: 100%;
    height: .275rem;
    text-align: center;
    line-height: .275rem;
}

.empty {
    width: 100%;
    height: .289rem;
    background-color: #fff;
}

.nav a {
    display: block;
    width: 100%;
    height: .275rem;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    /* background-color: #55585a; */
    text-decoration: none;
    color: white;
    text-indent: 2em;
    background-size: 800%;
    line-height: .275rem;
    transition: .25s;
    font-size: .11rem;
    margin-top: .103rem;
    border-radius: .241rem;
    border: none;
}

.nav a:hover {
    /* background-color: #ff6700; */
    background-size: 100%;
}

.main-head {
    width: 100%;
    height: .515rem;
    position: relative;
    /* border-bottom: .5px solid rgb(245, 245, 245); */
    border-bottom: .004rem solid black;
    font-size: 0.206rem;
    color: black;
    line-height: .515rem;
    text-align: center;
}


/* .QG {
    font-size: .206rem;
    color: black;
    line-height: .515rem;
    text-align: center;
} */

.input-search {
    position: absolute;
    bottom: .068rem;
    right: 1.319rem;
    border: none;
    outline: none;
    text-indent: 2em;
    font-weight: 400;
    /* float: right; */
    width: 1.374rem;
    height: .227rem;
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 0 -0.003rem .016rem 0 rgba(0, 0, 0, 0.2);
}

.main-body .load {
    font-size: .289rem;
    text-align: center;
    line-height: 4.124rem;
    color: skyblue;
}

.main-body {
    display: flex;
    width: 100%;
    height: 800px;
}

.left {
    width: 1.98rem;
}

.nav {
    width: 80%;
    height: 2.31rem;
    margin: 0 auto;
}

.right {
    position: relative;
    flex: 8.5;
    /* display: flex; */
    /* justify-self: center; */
    /* align-self: center; */
}

.info {
    margin: .049rem auto .215rem;
    color: #4d4d4d;
    font-size: 24px;
    text-shadow: 0 .003rem 0 rgba(186, 183, 183, 0.819);
    text-align: center;
}