* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(120deg, #3498db, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    display: inline;
}