.nav-mine .mine {
    background-size: 100%;
}

.insert a {
    display: inline;
    border: none;
    outline: none;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    background-color: #333333;
    opacity: 0.2;
    border-radius: 2%;
    align-self: center;
    transition: .5s;
    font-size: 16px;
}

.insert a::before {
    content: "\f36";
}

.insert a:hover {
    opacity: .8;
}

.insert:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-self: center; */
}

.insert {
    margin-top: 20px;
    display: flex;
    justify-self: center;
    height: 100px;
    transition: .5s;
    /* align-self: center; */
}

.content {
    flex: 8.5;
}

.itemComplete {
    width: 550px;
    height: 59px;
    background-color: #fff;
    list-style-type: none;
    border-bottom: .8px solid #999;
}

.itemComplete .btnName {
    float: left;
    width: 435px;
    height: 40px;
    font-size: 32px;
    border-style: none;
    padding: 7.5px 0px 7.5px 7.5px;
}

.itemComplete .btnName-searched {
    float: left;
    width: 435px;
    height: 40px;
    font-size: 32px;
    background-color: red;
    border-style: none;
    padding: 7.5px 0px 7.5px 7.5px;
}

.itemComplete-searched {
    width: 550px;
    height: 59px;
    background-color: red;
    list-style-type: none;
    border-bottom: .8px solid #999;
}

.iconComplete {
    float: left;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 12px 12px 12px 12px;
    /* line-height: 20px; */
    text-align: center;

}

.iconCompleteActive {
    display: inline;
    margin-top: 9px;
}

.iconCompleteActive:before {
    content: "√";
    font-size: 25px;
    color: green;
}

.iconCompleteDefeat {
    display: inline;
    margin-top: 9px;
}

.iconCompleteDefeat:before {
    content: "×";
    font-size: 25px;
    color: red;
}

.btnGroup {

    display: inline-block;
}

.todo-list li .btnGroup {
    float: right;
}

.todo-list li .btnDelete {
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 59px;
    margin: auto 0;
    font-size: 30px;
    color: #949494;
    background-color: #fff;
    border: none;
}

.todo-list li .btnDelete:after {
    content: '详细';
    font-size: 16px;
    display: block;
    height: 50%;
    line-height: 1.1;
}

.iconText {
    color: #999;
    text-decoration: line-through;
}

.iconText1 {
    color: red;
}